div > p{ /*فرزند سطر اول در دیو*/
    color: red;
}
div + p{ /* پی ایی که بعد از پایان دیو قرار گرفتند*/
    color: blue;
}
div ~ p{ /* همه ی پی هایی که بعد از پایان دیو قرار گرفتند*/
    color: green ;
}