a {
  text-decoration: none;
  font-size: 30px;
  background-color: #298069;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
a:link {
  color: red;
}
a:visited{
    color: blue;
}
a:hover{
    color: yellow;
}
a:active{
    color:chocolate
}
