*{
    direction: rtl;
}
h1{
    color: red;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 0cm;
    word-spacing: 0%;
    text-transform: capitalize;
    text-shadow: 2px 0px 2px blue;
}
span{
    font-weight: bold;
}
p{
    line-height: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Medium.ttf');
    font-weight: 500;
    font-style: bold;
}
#d1 p{
    font-family: Vazir;
}

a{
    /*برای از بین بردن پیش فرض مرورگر برای استایل تگ*/
    text-decoration: none;
}

/*
 CSS reset
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
*/
